<mjml>
    <mj-head>
        <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700" />
        <mj-attributes>
            <mj-section padding="0" />
            <mj-text font-family="Roboto, sans-serif" font-size="18px"></mj-text>
            <mj-class name="title" font-size="24px" color="#8bc34a"/>
            <mj-class name="sub-title" font-size="20px" font-weight="300"  color="#8bc34a"/>
            <mj-class name="section-title" font-size="18px"  color="#fff" />
            <mj-class name="section-url" font-size="14px"  color="#fff" align="center"/>
            <mj-class name="body-column" width="650px" background-color="#000" />
            <mj-class name="code-snippet" font-family="'Roboto Mono', monospace" color="#fff" />
        </mj-attributes>
        <mj-breakpoint width="650px" />
        <mj-style>
            @media only screen and (max-width:650px) { 
                .padding-on-mobile { 
                    width: calc(100% - 30px) !important;
                    padding: 0 15px; 
                } 

                .hide-on-mobile { 
                    display: none; 
                } 

                .mobile-title { 
                    font-size: 28px !important;
                    text-align: center; 
                } 

                .mobile-section-title {
                    font-size: 22px !important;
                    text-align: center; 
                }
                
                .mobile-section-url {
                    font-size: 16px !important;
                }
            }
        </mj-style>
        <mj-style inline="inline">
            .header-section { -webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 4px 11px 0px
            rgba(0, 0, 0, 0.3); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.3); } .body-section { -webkit-box-shadow:
            1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px
            4px 11px 0px rgba(0, 0, 0, 0.15); }
        </mj-style>
    </mj-head>
    <mj-body width="650px" background-color="#121212">
        <mj-section full-width="full-width" background-color="#272727" padding-top="20px" padding-bottom="20px">
            <mj-raw>
                <!-- Header section -->
            </mj-raw>
            <mj-column width="125px">
                <mj-image
                    width="85px"
                    padding="0 20px"
                    src="<%= serverAddress %>/email_res/icon.png"
                />
            </mj-column>
            <mj-column width="525px">
                <mj-text mj-class="title" padding="15px 10px 5px 15px">
                    <div class="mobile-title">Erreur d'importation des transactions</div>
                </mj-text>
                <mj-text mj-class="sub-title" padding="5px 10px 5px 15px" css-class="hide-on-mobile">
                    Question secrète demandé
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section full-width="full-width" background-color="#272727">
            <mj-column
                css-class="padding-on-mobile header-section"
                mj-class="body-column"
                border-radius="7px 7px 0px 0px"
                padding-top="10px"
            >
                <mj-text mj-class="section-title">
                    <div class="mobile-section-title">
                        Le serveur ne peux pas se connecter au compte bancaire car une question de sécurité est demandé.
                    </div>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section css-class="body-section" border-radius="0px 0px 7px 7px">
            <mj-column
                css-class="padding-on-mobile"
                mj-class="body-column"
                border-radius="0px 0px 7px 7px"
                padding-bottom="10px"
            >
                <mj-text mj-class="section-title">
                    <div class="mobile-section-title">La question demandée est la suivante :</div>
                </mj-text>
                <mj-text mj-class="section-title" color="#c8c8c8" padding="10px 50px">
                    <div class="mobile-section-title"><%= secretQuestion %></div>
                </mj-text>
                <mj-text mj-class="section-title">
                    <div class="mobile-section-title">
                        Saisir la réponse dans le champs "Arguments" de l'écran "Jobs" et lancer l'importation en 
                        cliquant sur le bouton Exécuter.
                    </div>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column>
                <mj-spacer height="30px" />
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
